<div class="FifthSection">
    <div class="section-bottom">
        <div class="column1 column">
            <img draggable="false" src="./assets/images/4th-section-img1.png" alt="">
            <h3 class="title">OUR MEGA PROJECT</h3>
            <h5 class="subtitle">An unprecedented production powerhouse.</h5>
            <button class="btn"><a href="#">Explore</a></button>
            <span class="arrow"></span>
        </div>
        <div class="column2 column">
            <img draggable="false" src="./assets/images/4th-section-img2.png" alt="">
            <h3 class="title">Health and Safety </h3>
            <h5 class="subtitle">Sustainable business operations</h5>
            <button class="btn"><a href="#">Explore</a></button>
            <span class="arrow"></span>
        </div>
        <div class="column3 column">
            <img draggable="false" src="./assets/images/4th-section-img3.png" alt="">
            <h3 class="title">Energy Transition</h3>
            <h5 class="subtitle">To zero-carbon goal</h5>
            <button class="btn"><a href="#">Explore</a></button>
            <span class="arrow"></span>
        </div>
        <div class="column4 column">
            <img draggable="false" src="./assets/images/4th-section-img4.png" alt="">
            <h3 class="title">Our people</h3>
            <h5 class="subtitle">To zero-carbon goal</h5>
            <button class="btn"><a href="#">Explore</a></button>
            <span class="arrow"></span>
        </div>
    </div>
</div>