<section class="SixthSection rtl">
    <div class="slides-wrapper">
        {{!-- <video class="map slide" webkit-playsline="true" playsline="true" autoplay="" muted="true">
             <source
                src="./assets/images/map.webm"
                type="video/webm">
        </video> --}}
        <div class="points-area slide">
            <img src="./assets/images/points-area.png" alt="" class="points-area-img">
            <div class="drop red">
                <h5 class="title">FAHUD</h5>
                <div class="description1">PDO has 8,853 staff and over 52,000 contracting employees, a combined workforce made up of over 60 nationalities.</div>
                <div class="description2">We operate 202 producing oil fields, 43 gas fields, 29 production stations, more than 9,400 active wells, more than 33,000 kilometres of pipelines and flowlines and 230 operating units in our well engineering fleet.</div>
            </div>
        </div>
    </div>
    <div class="info">
        <h3 class="title">85 years of <br />experience</h3>
        <article class="description first">PDO has 8,853 staff and over 52,000 contracting employees, a combined workforce made up of over 60 nationalities.</article>
        <article class="description">
            We operate 202 producing oil fields, 43 gas fields, 29 production stations, 
            more than 9,400 active wells, more than 33,000 kilometres of pipelines and 
            flowlines and 230 operating units in our well engineering fleet.
        </article>
    </div>
</section>