<section class="SeventhSection rtl">
    <h3 class="title">Latest News from PDO</h3>
    <div class="content-container">
        <div class="content-left">
            <div class="tabs">
                <div class="tab active">News & Media</div>
                <div class="tab">Al Fahal Magazine</div>
                <div class="tab">Our publication</div>
            </div>
            <div class="select-wrapper">
                <div class="select-box">
                    <div class="options-container">
                        <div class="option">
                            <input type="radio" class="radio" id="news" name="category" />
                            <label data-value="0" for="news">News & Media</label>
                        </div>

                        <div class="option">
                            <input type="radio" class="radio" id="magazine" name="category" />
                            <label data-value="1" for="magazine">Al Fahal Magazine</label>
                        </div>

                        <div class="option">
                            <input type="radio" class="radio" id="publication" name="category" />
                            <label data-value="2" for="publication">Our publication </label>
                        </div>
                    </div>

                    <div class="selected">
                        News & Media
                    </div>
                </div>
            </div>
            <div class="tabs-content-container">
                <div class="tabs-content-wrapper">
                    <div class="tab-content">
                        <figure>
                            <img draggable="false" src="./assets/images/6th-section-slide1.png" alt="">
                        </figure>
                        <div class="tab-info">
                            <h5 class="tab-subtitle">Most recent</h5>
                            <h3 class="tab-title">Energy Transition</h3>
                            <article class="tab-description">Explore our approaches and initiatives towards green energy
                                transition.</article>
                            <button class="tab-btn"><a href="#">Read more</a></button>
                        </div>
                    </div>
                    <div class="tab-content">
                        <figure>
                            <img draggable="false" src="./assets/images/6th-section-slide1.png" alt="">
                        </figure>
                        <div class="tab-info">
                            <h5 class="tab-subtitle">2222222</h5>
                            <h3 class="tab-title">2222222</h3>
                            <article class="tab-description">2222222</article>
                            <button class="tab-btn"><a href="#">2222222</a></button>
                        </div>
                    </div>
                    <div class="tab-content">
                        <figure>
                            <img draggable="false" src="./assets/images/6th-section-slide1.png" alt="">
                        </figure>
                        <div class="tab-info">
                            <h5 class="tab-subtitle">333333</h5>
                            <h3 class="tab-title">3333333</h3>
                            <article class="tab-description">333333</article>
                            <button class="tab-btn"><a href="#">333333</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">
            <div class="content-wrapper">
                <div class="content">
                    <figure>
                        <img draggable="false" src="./assets/images/5-s-content1.png" alt="">
                    </figure>
                   
                    <h4 class="title">Milestone Anniversaries Celebrated on PDO Day</h4>
                    <span class="date">05.12.2022</span>
                
                    <a href="#" class="link">Read more</a>
                </div>
                <div class="content">
                    <figure>
                        <img draggable="false" src="./assets/images/5-s-content2.png" alt="">
                    </figure>
                  
                    <h4 class="title">PDO Constructs Multi-purpose Hall in Izki</h4>
                    <span class="date">05.12.2022</span>
  
                    <a href="#" class="link">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>