@import '../../assets/variables.scss';
@import '../../assets/fonts.scss';

@media (min-width: 375px) {
    .SecondSection {
        width: 100%;
        height: 667px;
        & .section-wrapper {
            width: 100%;
            position: relative;
            height: 667px;
            overflow: hidden;
            & .video-bg {
                width: 100%;
                position: relative;
                height: 426px;
                position: absolute;
                & .video {
                    height: 426px;
                    position: absolute;
                    top: 0;
                    left: -275px;
                }
                & .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            & .info-container {
                margin-top: 24px;
                position: absolute;
                top: 450px;
                left: 24px;
                width: 327px;
                height: 100px;
                display: flex;
                flex-direction: column;
                & .info-sub-title {
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    color: $green;
                }
                & .info-title {
                    margin-top: 8px;
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    display: flex;
                    align-items: flex-end;
                    text-transform: uppercase;
                    color: #000000;
                }
                & .info-description {
                    margin-top: 8px;
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 24px;
                    color: #000000;
                }
                & .info-btn {
                    display: none;
                }
            }
        }
    }
    .SecondSection.rtl {
        & .section-wrapper {
            & .info-container {
                align-items: flex-end;
                text-align: end;
            }
        }
    }
}

@media (min-width: 324px) {
    .SecondSection {
        & .section-wrapper {
            & .video-bg {
                & .video {
                    left: -240px;
                }
            }
        }
    }
}
@media (min-width: 413px) {
    .SecondSection {
        width: 100%;
        & .section-wrapper {
            width: 100%;
            height: 667px;
            position: relative;
            & .playBtn {
                display: block;
                position: absolute;
                height: 104px;
                width: 104px;
                top: 50%;
                left: 50%;
                cursor: pointer;
                -webkit-tap-highlight-color:transparent;
                transform: translate(-50%, -50%);
                transition: .6s ease;
            }
            & .video-bg {
                & .video {
                    width: 1360px;
                    position: absolute;
                    height: 880px;
                    top: -58px;
                    left: -461px
                }
            }
            & .info-container {
                position: absolute;
                padding: 24px;
                transition: .3s ease;
                top: auto;
                width: 100%;
                height: 150px;
                bottom: 0px;
                left: 0px;
                background: #fff;
            }
        }
    }
}

@media (min-width: 893px) {
    .SecondSection {
        height: 800px;
        & .section-wrapper {
            & .video-bg {
                & .video {
                    left: -361px
                }
            }
        }
    }
}
@media (min-width: 993px) {
    .SecondSection {
        height: 800px;
        & .section-wrapper {
            & .video-bg {
                & .video {
                    left: -261px
                }
            }
            & .info-container {
                width: 50%;
            }
        }
    }
}
@media (min-width: 1089px) {
    .SecondSection {
        height: 800px;
        & .section-wrapper {
            & .video-bg {
                & .video {
                    left: -121px
                }
            }
            & .info-container {
                width: 50%;
            }
        }
    }
}
@media (min-width: 1241px) {
    .SecondSection {
        width: 100%;
        height: 800px;
        & .section-wrapper {
            & .video-bg {
                & .video {
                    left: -25px;
                }
            }
            & .info-container {
                width: 50%;
            }
        }
    }
}
@media (min-width: 1360px) {
    .SecondSection {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        & .section-wrapper {
            width: 100%;
            height: 100%;
            & .video-bg {
                width: 100%;
                height: 100%;
                & .video {
                    position: unset;
                    width: 100%;
                    height: 100%;
                }
            }
            & .info-container {
                width: 680px;
                height: 237px;
                & .info-sub-title {
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 45px;
                    display: flex;
                    align-items: flex-end;
                    text-transform: uppercase;
                    color: #000000;
                }
                & .info-description {
                    margin-top: 8px;
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                }
                 .info-btn {
                    display: block;
                    padding: 10px 20px;
                    width: 197px;
                    height: 64px;
                    background: $green;
                    border: 0;
                    & a {
                        font-family: 'Lexend';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 25px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                 }
            }
        }
    }
}