<section class="SecondSection">
  <div class="section-wrapper">
    <div class="video-bg">
      <video class="video" loop muted poster="./assets/images/2nd-section-bg-poster.png" src="./assets/images/video-bg.mp4"></video>
      <div class="overlay"></div>
    </div>
    <img class="playBtn" src="./assets/images/2nd-section-playBtn.png" alt="">
    {{!-- TODO remove the box after starting playing the video --}}
    <div class="info-container">
      <h5 class="info-sub-title">THE YEAR OF THE 85TH</h5>
      <h3 class="info-title">our Great Heritage STORY</h3>
      <p class="info-description">Our story began 85 years ago, and it
        continues to inspire excellence and determination.</p>
      <button class="info-btn"><a href="#">Explore more</a></button>
    </div>
  </div>
</section>