<div class="FourthSection">
    <div class="section-top">
        <div class="section-top-content">
            <h5 class="subtitle">What we do</h5>
            <h3 class="title">We Are Proud To Serve Oman</h3>
            <article class="description">
                Our aim to maximise oil, gas and condensate production in a cost-competitive manner whilst minimising greenhouse gas emissions and the environmental and social impact of our operations.
            </article>
        </div>
    </div>
</div>