<section class="FourthSection">
    <div class="section-top">
        <div class="section-top-content">
            <h5 class="subtitle">What we do</h5>
            <h3 class="title">We are explorers at heart</h3>
            <article class="description">
                That drive to uncover the next frontier and focus on delivering excellence,
                growth, and sustainable value creation within and well beyond our industry.
            </article>
        </div>
    </div>
</section>