<section class="ThirdSection">
    <div class="side-wrapper side-wrapper-left">
        <figure>
            <img draggable="false" src="./assets/images/3rd-section-logo.png" alt="">
        </figure>
        <div class="info">
            <h5 class="info-title">What we believe in</h5>
            <article class="info-description">We believe in delivering excellence, growth, and sustainable value
                creation within and well beyond our industry.</article>
            <button class="info-btn"><a href="#">Investing in Our People</a></button>
        </div>
    </div>
    <div class="side-wrapper side-wrapper-right">
        <figure>
            <img draggable="false" src="./assets/images/3rd-section-bg.png" alt="">
        </figure>
    </div>
    <div class="slider">
        <div class="slide-wrapper">
            <div class="slide">
                <img draggable="false" src="./assets/images/3rd-section-slide-1.png" alt="">
                <h5 class="title">What we believe</h5>
                <article class="description">We believe on delivering excellence, growth, and sustainable value creation
                    within and well beyond our industry.</article>
                <button class="button green"><a href="#">Investing in Our People</a></button>
            </div>
            <div class="slide">
                <img draggable="false" src="./assets/images/3rd-section-slide-2.png" alt="">
                <h5 class="title">What we believe</h5>
                <article class="description">We believe on delivering excellence, growth, and sustainable value creation
                    within and well beyond our industry.</article>
                <button class="button yellow"><a href="#">Investing in Our community</a></button>
            </div>
            <div class="slide black">
                <img draggable="false" src="./assets/images/3rd-section-slide-3.png" alt="">
                <h5 class="title">What we believe</h5>
                <article class="description">We believe on delivering excellence, growth, and sustainable value creation
                    within and well beyond our industry.</article>
                <button class="button white"><a href="#">Investing in Oman Sustainability</a></button>
            </div>
        </div>
        <div class="navigation">
            <span class="nav-btn active"></span>
            <span class="nav-btn"></span>
            <span class="nav-btn"></span>
        </div>
    </div>
</section>