@import '../../assets/variables.scss';
@import '../../assets/fonts.scss';

@media (max-width: 1359px) {
    .FirstSection {
        overflow: hidden;
        max-width: 1359px;
        & .slider-container {
            width: 100%;
            position: relative;
            & .slider {
                overflow: hidden;
                width: fit-content;
                & .arrow.arrow-left {
                    width: 48px;
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 24px;
                    transform: translateY(-50%) rotate(180deg);
                    & figure {
                        display: block;
                        & img {
                            display: block;
                        }
                    }
                }
                & .arrow.arrow-right {
                    width: 48px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 24px;
                    & figure {
                        display: block;
                        & img {
                            display: block;
                        }
                    }
                }
                & .slides-wrapper {
                    transition: .3s ease;
                    display: flex;
                    flex-wrap: nowrap;
                    & .slide {
                        position: relative;
                        overflow: hidden;
                        & figure {
                            width: 1359px;
                            height: 820px;
                            & img {
                                width: 1360px;
                                position: absolute;
                                left: 0px;
                                height: 820px;
                            }
                        }
                        & .slide-title {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            left: 24px;
                            bottom: 72px;
                            & span {
                                font-family: $lexend;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 35px;
                                line-height: 40px;
                                display: flex;
                                align-items: flex-end;
                                text-transform: uppercase;
                                background: linear-gradient(285.37deg, #FFFFFF 37.36%, #019748 183.93%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                            }
                        }
                        & .slide-title-description {
                            position: absolute;
                            left: 24px;
                            bottom: 52px;
                            font-family: $inter;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 12px;
                            color: #fff;
                        }
                    }
                }
                & .slider-buttons {
                    position: absolute;
                    bottom: 24px;
                    left: 24px;
                    & .slider-button {
                        width: 16px;
                        height: 4px;
                        border: 0;
                        outline: none;
                        background: rgba(237, 207, 101, 0.5);
                        border-radius: 5px;
                        transition: .3s ease;
                    }
                    & .slider-button.active {
                        width: 40px;
                        height: 4px;
                        background: #EDCF65;
                        border-radius: 5px;
                    }
                }
                & .arrow {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .FirstSection {
        max-width: 992px;
        height: 667px;
        & .slider-container {
            max-width: 992px;
            & .slider {
                width: fit-content;
                & .arrow {
                    display: none !important;
                }
                & .slides-wrapper {
                    & .slide {
                        width: 992px;
                        & figure {
                            & img {
                                left: -202px;
                                top: -95px;
                            }
                        }
                        & .slide-title {
                            position: absolute;
                            left: 24px;
                            top: 495px;
                        }
                        & .slide-title-description {
                            position: absolute;
                            left: 24px;
                            top: 583px;
                            
                        }
                    }
                }
                & .slider-buttons {
                    position: absolute;
                    top: 619px;
                    left: 24px;
                    & .slider-button {
                        width: 16px;
                        height: 4px;
                        border: 0;
                        outline: none;
                        background: rgba(237, 207, 101, 0.5);
                        border-radius: 5px;
                        transition: .3s ease;
                    }
                    & .slider-button.active {
                        width: 40px;
                        height: 4px;
                        background: #EDCF65;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .FirstSection {
        max-width: 576px;
        height: 667px;
        & .slider-container {
            max-width: 576px;
            position: relative;
            & .slider {
                overflow: hidden;
                width: fit-content;
                & .arrow {
                    display: none !important;
                }
                & .slides-wrapper {
                    transition: .3s ease;
                    display: flex;
                    flex-wrap: nowrap;
                    & .slide {
                        max-width: 576px;
                        position: relative;
                        overflow: hidden;
                        & figure {
                            width: 1359px;
                            height: 820px;
                            & img {
                                width: 1360px;
                                position: absolute;
                                left: -401px;
                                top: -95px;
                                height: 820px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .FirstSection {
        overflow: hidden;
        width: 375px;
        height: 667px;
        & .slider-container {
            width: 375px;
            position: relative;
            & .slider {
                overflow: hidden;
                width: fit-content;
                & .arrow {
                    display: none;
                }
                & .slides-wrapper {
                    transition: .3s ease;
                    display: flex;
                    flex-wrap: nowrap;
                    & .slide {
                        width: 375px;
                        position: relative;
                        overflow: hidden;
                        & figure {
                            width: 1359px;
                            height: 820px;
                            & img {
                                width: 1360px;
                                position: absolute;
                                left: -401px;
                                top: -95px;
                                height: 820px;
                            }
                        }
                        & .slide-title {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            left: 24px;
                            top: 495px;
                            & span {
                                font-size: 32px;
                                line-height: 40px;
                            }
                        }
                        & .slide-title-description {
                            position: absolute;
                            left: 24px;
                            top: 583px;
                            font-family: $inter;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 12px;
                            color: #fff;
                        }
                    }
                }
                & .arrow {
                    display: none;
                }
                & .arrow-right {
                    display: none !important;
                }
            }
        }
    }
}


@media (min-width: 1360px) {
    .FirstSection {
        width: $section-width;
        height: $section-height;
        margin: auto;
        & .slider-container {
            & .slider {
                position: relative;
                height: 100%;
                width: 1360px;
                overflow: hidden;
                & .slides-wrapper {
                    display: flex;
                    background: $section-background;
                    transform: translate(0px);
                    transition: .5s ease;
                    & .slide {
                        position: relative;
                        height: 100%;
                        & figure {
                            width: 1360px;
                            height: 100%;
                            & img {
                                position: unset;
                                min-width: 1360px;
                                height: 100%;
                            }
                        }
                        // ========== Slide Text =================
                        & .slide-title {
                            position: absolute;
                            left: 48px;
                            bottom: 89px;
                            font-size: 72px;
                            font-family: $lexend;
                            font-weight: 500;
                            line-height: 90px;
                            max-width: 648px;
                            & .slide-title-text {
                                background: linear-gradient(285.37deg, #FFFFFF 37.36%, #019748 183.93%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                            }
                        }
                        & .slide-title-description {
                            position: absolute;
                            bottom: 54px;
                            left: 48px;
                            font-size: 16px;
                            line-height: 19px;
                            color: #fff;
                            font-family: $inter;
                        }
                    }
                }
                // ========== Slider Buttons Navigation =================
                & .slider-buttons {
                    position: absolute;
                    right: 48px;
                    bottom: 48px;
                    & .slider-button {
                        cursor: pointer;
                        width: 16px;
                        height: 4px;
                        outline: none;
                        border: none;
                        background: rgba(237, 207, 101, 0.5);
                        border-radius: 5px;
                        transition: .5s ease;
                    } 
                
                    & .slider-button.active {
                        width: 40px;
                        height: 4px;
                        background: #EDCF65;
                        border-radius: 5px;
                    }
                }
                // ========== Slider Arrows Navigation =================
                
                & .arrow {
                    position: absolute;
                    cursor: pointer;
                }
                
                .arrow-right {
                    top: 50%;
                    transform: translateY(-50%);
                    right: 48px;
                    & figure {
                        width: 48px;
                        height: 48px;
                    }
                }
                .arrow-left {
                    display: none;
                    top: 50%;
                    transform: translateY(-50%) rotate(180deg);
                    left: 48px;
                    & figure {
                        width: 48px;
                        height: 48px;
                    }
                }
            }
        }
    }
    
    .FirstSection.rtl {
        & .slider-container {
            & .slider {
                & .slides-wrapper {
                    flex-direction: row-reverse;
                    & .slide {
                        & .slide-title {
                            left: auto;
                            right: 48px;
                            text-align: end;
                            & .slide-title-text {
                                background: linear-gradient(285.37deg, #FFFFFF 37.36%, #019748 183.93%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                            }
                        }
                        & .slide-title-description {
                            left: auto;
                            right: 48px;
                        }
                    }
                }
                & .slider-buttons {
                    right: auto;
                    left: 48px;
                    display: flex;
                    flex-direction: row-reverse;
                    width: 88px;
                    & .slider-button {
                        margin-right: 4px;
                    }
                }
                & .arrow-left {
                    display: block;
                }
                & .arrow-right {
                    display: none;
                }
            }
        }
    }
    
    
    
    
    
    
}

