<section class="FirstSection">
    {{> ../Header/index}}
    <div class="slider-container">
        <div class="slider">
            <div class="slides-wrapper">
                <div class="slide">
                    <figure>
                        <img draggable="false" src="./assets/images/1st-section-bg.png" alt="">
                    </figure>
                    <h3 class="slide-title">
                        <span class="slide-title-text">ENERGISING</span>
                        <span class="slide-title-text">OMAN</span>
                    </h3>
                    <p class="slide-title-description">Developing renewables alongside our core oil and gas business</p>
                </div>
                <div class="slide">
                    <figure>
                        {{!-- TODO add the ability for a video --}}
                        <img draggable="false" src="./assets/images/1st-section-bg2.png" alt="">
                    </figure>
                    <h3 class="slide-title">
                        <span class="slide-title-text">ENERGISING</span>
                        <span class="slide-title-text">OUR PEOPLE</span>
                    </h3>
                    <p class="slide-title-description">Providing a rewarding, learning and inclusive workplace</p>
                </div>
                <div class="slide">
                    <figure>
                        <img draggable="false" src="./assets/images/1st-section-bg3.png" alt="">
                    </figure>
                    <h3 class="slide-title">
                        <span class="slide-title-text">ENERGISING</span>
                        <span class="slide-title-text">OUR COMMUNITY</span>
                    </h3>
                    <p class="slide-title-description">Championing sustainable development</p>
                </div>
            </div>
            <div class="slider-buttons">
                <button class="slider-button active"></button>
                <button class="slider-button"></button>
                <button class="slider-button"></button>
            </div>
        </div>
    </div>
    <div class="arrow arrow-left">
        <figure>
            <img draggable="false" src="./assets/images/arrow-right.png" alt="">
        </figure>
    </div>
    <div class="arrow arrow-right">
        <figure>
            <img draggable="false" src="./assets/images/arrow-right.png" alt="">
        </figure>
    </div>
</section>