<!DOCTYPE html>
<html lang="uk">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {{htmlWebpackPlugin.options.title}}
    </title>
</head>

<body>
    <main class="main">
        {{> ./components/FirstSection/index}}
        {{> ./components/SecondSection/index}}
        {{> ./components/ThirdSection/index}}
        <section class="scetion-wrap">
            {{> ./components/FourthSection/index}}
            {{> ./components/FifthSection/index}}
        </section>
        {{> ./components/SixthSection/index}}
        {{> ./components/SeventhSection/index}}
        {{> ./components/Footer/index}}

        <div class="goup">
            <img src="./assets/images/up.png" alt="">
        </div>
    </main>
    {{!-- <section id="main">main</section> --}}
</body>

</html>